{% extends 'base.html.twig' %}

{% block title %}Hello ShowProductsController!{% endblock %}

{% block body %}
<style>
    .example-wrapper {
        margin: 1em auto;
        max-width: 800px;
        width: 95%;
        font: 18px/1.5 sans-serif;
    }

    .example-wrapper code {
        background: #F5F5F5;
        padding: 2px 6px;
    }
</style>

<div class="container">
    <h1 align="center">Produkty</h1>

    <div class="container">


        <div class="row">

            <div class="col-1"></div>


            <div class="col-md-10">

                <div class="row">


                    {% for product in products %}

                        <div class="col-md-4 border" style="height: 40vh">
                            <h2 class="title text-center"><a
                                        href="/retaska/public/show/products/detail/{{ product.id }}">{{ product.name }}</a>
                            </h2>

                            <div class="price text-danger">
                                <p>Cena: {{ product.price }} Kč</p>
                            </div>

                            <button type="button" class="btn btn-outline-primary"><a class="add-to-cart" href="">Objednat</a>
                            </button>

                            <button type="button" class="btn btn-outline-primary"><a
                                        href="/retaska/public/show/products/detail/{{ product.id }}">Zjistit více</a>
                            </button>
                        </div>
                    {% endfor %}

                </div>

                <div class="col-1"></div>

            </div>
        </div>
    </div>


    {% endblock %}
