{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}


    <div class="view"
         style="background-image: url('https://kids.nationalgeographic.com/content/dam/kids/photos/articles/Nature/H-P/Habitats/Ocean/wave.ngsversion.1500050062134.adapt.1900.1.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
        <!-- Mask & flexbox options-->
        <div class="mask rgba-gradient align-items-center">
            <!-- Content -->
            <div class="container">
                <!--Grid row-->
                <div class="row">
                    <!--Grid column-->
                    <div class="col-md-6 white-text text-center text-md-left mt-xl-5 mb-5 wow fadeInLeft"
                         data-wow-delay="0.3s">
                        <h1 class="h1-responsive font-weight-bold mt-sm-5">REtaška</h1>
                        <h1 class="h1-responsive font-weight-bold mt-sm-3">Think green</h1>
                        <hr class="hr-light">
                        <h6 class="mb-4">Projekt REtaška je projekt za záchranu oceánů...</h6>
                        <a class="btn btn-white btn-outline-info" href="/retaska/public/show/products" border>Zjistit
                            více</a>

                    </div>
                </div>
                <!--Grid row-->
            </div>
            <!-- Content -->
        </div>
        <!-- Mask & flexbox options-->
    </div>




{% endblock %}
