<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>

    <!-- CSS: -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- JS: -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <!-- FAVICON: -->
    <link href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAIgD/AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEQAAAAAAAAARAAAAAAAAAAAAAAAAAAAAEQAAAAAAAAARAAAAAAAAAREQAAAAAAAREREAAAAAARERERAAAAAREREREQAAABERERERAAABEREREREQAAERERERERAAAAAAAAAAAAAAAAAAAAAAD//wAA//8AAP5/AAD+fwAA//8AAP5/AAD+fwAA/D8AAPgfAADwDwAA4AcAAOAHAADAAwAAwAMAAP//AAD//wAA"
          rel="icon" type="image/x-icon" />

    {% block stylesheets %}{% endblock %}
</head>
<body>


<header>

    <div class="navbar navbar-expand-lg navbar-dark bg-dark">


        <a class="nav-item active col-2 ml-auto" href="/retaska/public/">Zpět do obchodu</a>

    </div>

</header>





{% block body %}{% endblock %}




<style>

    html {
        height: 100%;
        box-sizing: border-box;
    }

    body {
        position: relative;
        margin: 0;
        min-height: 100%;

    }


    .footer {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
    }

</style>


<footer class="card-footer footer text-muted mt-2 py-auto">

    <p align="center">
        <strong>
            © 2019 | REtaška Administrace
        </strong>
    </p>

</footer>


{% block javascripts %}{% endblock %}

</body>
</html>
